#item-list{
    display: flex;
    margin: 10rem 3rem;
    width: 90%z;
    height:100px; 
}

.product-new{
    position: absolute;
    border-radius: 8px;
    font-size: x-large;
    font-weight: bolder;
    width: 3%;
    height: 25px;
    background-color:rgb(255, 174, 0); 
    padding: 0 9px 9px 5px;
}

.image-items{
    padding-top: 13px;
    height: 300px;
}

/* ====================button======================= */

.Cart-btn{
    margin: 10px;
    background: rgb(255, 174, 0);
    border: 2px solid white;
    color:#000000;
    padding: 20px 40px;
    font-weight: bold;
}
.Buy-btn{
    background:#000000;
    border: 2px solid white;
    color:#fff;
    padding: 20px 55px;
    font-weight: bold;
}
/* ====================button======================= */

#productCard-main {
    margin: auto 40px;
    width: 100%;
   
 
}

 .titel-tag{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-weight: bold;
    margin: auto;
}

.description-tag {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size:inherit;
    font-weight: inherit;
   
} 
/* ============================================= */
.last-Item{
    font-family: Arial, Helvetica, sans-serif;
    font-size:initial;
    font-weight: 700;
    margin: 4px;
}

.off-Ex{
    color: green;
    font-size: small;

}

.category{
    margin: 7px;
}
/* ========================rating================ */

#rating-main{
    display: flex;
    
    
}

.rating{
    display: flex;
    box-sizing:content-box;
    line-height:0px;
    width: 3.6%;
    color: wheat;
    padding: 1px 1px ;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    background-color: green;
 
}

.Reviews{
    font-size: small;
    font-weight:600;
    color: blue;
    margin: 5px 5px ;
    
}

/* ============================================================== */
#price {
    display: flex;
   
}
.pro-price{
    font-size: x-large;
    font-weight: bolder;
}

.ori-price {
    font-size: large;
    margin: 30px 10px;
}

.dis-price {
    color:green;
    font-weight: bold;
    margin: 30px 0;   
}

.qty{
    color:red;
    font-weight: bolder;
    margin: 0;
}
/* ===================================================================== */
#offers{
    width: 100%;
    margin: 0p;
}
.offers-A{
    font-size: 13px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
}
.offers-p{
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color:#000000
    
}

.T-C{
 color:blue;
 font-weight:600;
}

/* ============================================= */








