.item-list{
    display: flex;
    margin: 3rem;
    margin-top:10rem;
}
.image-tag{
    margin-left: auto
}
/* ====================button======================= */
.btn-tag{
    padding: 1rem;
}
.Cart-btn{
    text-decoration: none;
    margin: 1rem;
    background: rgb(255, 174, 0);
    border: 2px white;
    color:#000000;
    padding: 20px 40px;
    font-weight: bold;
}
.Buy-btn{
    text-decoration: none;
    background:#000000;
    border: 2px white;
    color:#fff;
    padding: 20px 50px;
    font-weight: bold;
}
/* ====================button======================= */

.titel-tag{
    font-size: xx-large;
    font-weight: bold;
    margin-top: 0px;
}

.description-tag {
    text-align: justify;
    font-size: large;
    font-weight: bold;

}








