.main-divs{
    margin-top: 10rem;
    margin-left: 5rem;
    
}
.product-line{
    display: grid;
    grid-template-columns: auto auto auto;
}

.div-img{
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    margin-left:  0px;
    height: 100%;
    width: 100%;
}

.img{
    height: 30vh;
    width: 300px;;
    
 
}


.list{
    font-size:large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 20px;
}

/* =========xxxxx lis side=========== */
