
 #ProductStore-Main-Area{
    display: grid;
    grid-template-columns: auto auto auto  ;
    text-align:justify;
    margin: 10px 0 30px 70px;
 }
/* ======================================================================= */
.ProductStore-Item-new{
   position: absolute;
   border-radius: 5px 20px;
   border: 1px solid yellowgreen;
   outline: 1px solid black;
   font-size: large;
   font-weight: bolder;
   height: 10px;
   background-color:rgb(255, 174, 0); 
   padding: 0 9px 15px 9px;
}
 .ProductStore-Img1-Main{
   width: 350px;
    height: 200px; 
 }
/* ================================================================================== */

.ProductStore-Processor-Main{
   display: flex;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size:15px;
   font-weight: bolder;
}
.ProductStore-count-Main{
   display: flex;
   line-height:0px;
   width: 7%;
   height: 1%;
   padding: 0 0 0 2px;
   color: wheat;
   border-radius: 5px;
   font-weight: bold;
   font-size: 12px;
   background-color: green;
}
.ProductStore-Processer{
   margin: 5px 5px;
}
/* ==================================================================== */

.ProductStore-tittle-Main{
   display: grid;
   width: 80%;

}
.ProductStore-tittle-tag{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 15px;
   font-weight:lighter;
   margin: 0 20px 5px 0;
}
.ProductStore-description-tag{
   font-family:inherit;
   font-size:12px;
   font-weight:600;
   word-break: break-all;
 
   margin: 0;
}
/* ====================================================================== */
.ProductStore-Price-Main{
   display: flex;
   margin: 0 0 0 30px;
   line-height: 0;
}
.ProductStore-pro-price{
   font-size: large;
   font-weight: bolder;
}

.ProductStore-ori-price {
   font-size: small;
   margin: 22px 10px;
}

.ProductStore-dis-price {
   color:green;
   font-size: small;
   font-weight: bold;
   margin: 22px 0;   
}
.ProductStore-qty-price{
   color:red;
   font-weight: bolder;
   font-size: 12px;
   margin: 10px 0 0 0;
}
/* ====================================================================================== */
.ProductStore-Main-BTN{
   width: 100%;
 
}

.ProductStore-Cart-btn{
   margin: 10px;
   background: rgb(255, 174, 0);
   border: 2px solid white;
   color:#000000;
   padding: 10px 20px;
   font-weight: bold;
}
.ProductStore-Buy-btn{
   background:#000000;
   border: 2px solid white;
   color:#fff;
   padding: 10px 35px;
   font-weight: bold;
}
/* ============================================================================== */
  @media  only screen and (max-width: 600px) {
   
 #ProductStore-Main-Area{
   display: grid;
   grid-template-columns: auto auto  ;
   margin: 10px;
   padding: 2px;

}
.ProductStore-Item-new{
   position: absolute;
   border-radius: 2px 20px;
   font-size: 13px;
   height: 0.5px;
   padding: 0 9px 15px 9px;
}
 .ProductStore-Img1-Main{
   width:  100%;
    height: 50%; 
 }
/* =============================================================================== */
.ProductStore-Processor-Main{
   font-size:7px;
}
.ProductStore-count-Main{
   width: 11%;
   font-size: 8px;}
.ProductStore-Processer{
   word-break: break-all;
   margin: 2px 3px;
}
/* ======================================================================== */
.ProductStore-tittle-Main{
   width: 68%;
}

.ProductStore-tittle-tag{
   font-size: 8px;
   font-weight:bolder;
   margin: 2px 10px 2px 0;
}
.ProductStore-description-tag{
   font-size:5px;
   word-break: break-all;

}
/* =================================================================================== */
.ProductStore-Price-Main{
   margin: 0;
}
.ProductStore-pro-price{
   font-size: 9px;
}
.ProductStore-ori-price {
   font-size: 7px;
   margin: 10px 6px;
}
.ProductStore-dis-price {
   font-size: 7px;
   margin: 10px 0;   
}
.ProductStore-qty-price{

   font-size: 6px;
   margin: 4px 0 0 0;
   padding: 0 0 0 0;
}
/* ==================================================================================== */
.ProductStore-Main-BTN{
   width: 105% ;
 
}

.ProductStore-Cart-btn{
   margin: 0;
   font-size: 10px;
   padding: 5px 5px;
}
.ProductStore-Buy-btn{
   font-size: 10px;
   padding: 5px 15px;
   font-weight: bold;
}

}