
    /* --------------------------xxxx--------------------- */
#home{
    width: 100%;
}

/* =================================================================== */
#laptop-brands{
    display: flex;
    margin-bottom: 2px;
    background-color: whitesmoke;
}
.P-S{
    font-size:x-large;
    margin: auto 3px;
    font-weight:bold;
     text-decoration: none;
     font-family:Georgia, 'Times New Roman', Times, serif
    }
    .store{
        color: rgb(255, 174, 0);
        }
     .store1{
       color: #000000;;
     } 
.Lapbrand{

    display: flex;
    margin: 20px 90px;
    color: var(--primary-color);
    font-family:Georgia, 'Times New Roman', Times, serif
}
/* ======================================================================= */

.Website-Banner{ height: 67vh;
    width: 100%;

}

/* =========================================================================== */
.marquee{    
color:var(--primary-color);
font-family:'Times New Roman', Times, serif;
font-weight: bold;
font-size:xx-large;
padding-bottom: 3px;
}
/* ============================================================================= */

.laptop_images{
    display: flex;
}
.lap{
    height: 35vh;
    width: 100%
}
/* ========================================================================== */

    #Categories-Chart{
        
        font-size:x-large;
        font-weight:bold;
        color:var(--primary-color);

    }
    .Categories-Chart-Hr{
        width: 20%;
        border:  2px solid var(--secondary-color);
        outline: 1px solid greenyellow;
        outline-offset: 1px;
        margin: 10px auto ;
       
    }
/* ====================================================================================== */
    .Categories-Images{
        display: grid ;
        grid-template-columns: auto auto;
    }
    .Images-Chart{
        height: 45vh;
        padding: 10px;
    }
    .head-Tag{
        font-size:x-large;
        font-weight:bold;
        margin: 0;
        color:var(--primary-color);   
    }
    
    .Images-Chart-HR{
        width: 40%;
        border:  2px solid var(--secondary-color);
        outline: 1px solid greenyellow;
        outline-offset: 1px;
        margin:  5px auto 10px auto  ;
    }
    
     .Heading-Description{
        width: 80%;
        text-align: justify;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: auto;

     }

  /* ===============================================================================================================    */
  .Categories-Images-1{
    margin: 0 0 30px 0;
  }

  .Images-Chart-1{
    margin: -20px;
  
}
.Images-Chart-1{
    height: 45vh;
}
.head-Tag-1{
    font-size:x-large;
    font-weight:bold;
    margin: 0;
    color:var(--primary-color);   
}

.Images-Chart-HR-1{
    width: 20%;
    border:  2px solid var(--secondary-color);
    outline: 1px solid greenyellow;
    outline-offset: 1px;
    margin:  5px auto 10px auto  ;
}

 .Heading-Description-1{
    width: 50%;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;

 }

/* =================================================================================== */


    .Foter-Banner{
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .Ban-ner{ 
 
        height: 50vh;
        width:100%; 
    }
    
    .Ban-ner-1{
         height: 50vh;
         /* width: 100%; */
         margin: 50px
        ;
    }
    

/* ======================================================================================== */

.brandlogo{
    display: flex;
    width: 100%;
}


.logo-div{
    text-align: center;
margin-left: 9rem;
}

.logo{
    height: 35px;
    margin-left: -2rem;
}

.logo1{
    height: 20px;
    

}
.hp{
    height: 30px;
    margin-left: 4px;
    margin-bottom: 25px;
}

.msi{
    margin-top: -1.3rem;
    margin-left: 5px;
    height: 75px;
}

.samsung{
    height: 50px;
    margin-top: -10px;
}

/* -----------xxxxxxx----------- */

.footer-container{
    background-color: rgb(249, 210, 210);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    margin-left:  0px;
    height: 100%;
    width: 100%;


}
.footer-section {
    margin: 2rem;
  }
  .footer-subheading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .footer1 {
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: bold;
    margin: 1px;
  }

/* ==================================================================================================================================================================================== */
/* footer---------xxxxxxxx----------- */

@media  only screen and (max-width: 600px) {
    .P-S{
        font-size:20px;
        }
    .Lapbrand{
       font-size: 12px;
        margin: 15px 0 15px auto;
        padding: 0 5px ;       
    }
    .Website-Banner{ 
        height: 20vh;
    }
    .marquee{    
        font-size: small;
        margin: 0  0 -32px 0;
        }
    .lap{
     height: 10vh;
      }
     #Categories-Chart{
     font-size:small;
      }
     .Categories-Chart-Hr{
      width: 35%;
      margin: 8px auto ;
     }

/* ==================================================================================================      */

     .Categories-Images{
        display: grid ;
        grid-template-columns: auto ;
    }
    .Images-Chart{
        height: 20vh;
        padding: 10px;
    }
    .head-Tag{
        font-size:small;  
    }
    
    .Images-Chart-HR{
        width: 35%;
    }
    
     .Heading-Description{
        width: 80%;
        font-size: small;
     }
 

     /* =========================================================================================== */

     .Categories-Images-1{
        margin: 0 0 20px 0;
      }
    .Images-Chart-1{
        height: 20vh;
    }
    .head-Tag-1{
        font-size:small;  
    }
    
    .Images-Chart-HR-1{
        width: 35%;
    }
    
     .Heading-Description-1{
        width: 80%;
      font-size: small;
    
     }

/* ============================================================================================= */

.Ban-ner{ 
    height: 20vh; 
}



}