
#navigation{
    display: flex;
    height: 80px;
    font-family: sans-serif;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 3px 10px  var(--secondary-color)
    
}
/* 
========================================================================= */
.brand-icon{
    display: flex;
    height: 8vh;
    width:  100%;
    margin: 3px 0 10px 30px;
}
.link2{
    text-decoration: none;
    color: var(--secondary-color)
}
.Eco{
    color: var(--primary-color);
    font-size:xx-large;
    font-weight: inherit;
     margin: 10px  0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    .Store{
        color: var(--secondary-color)}
    
/* ================================================================================ */

.input{
   text-align: center;
   border-radius: 5px;
   width: 100%;
   font-size: 20px;
   font-weight: initial;
   padding: 15px 30px;
   border: 3px whitesmoke;
   margin:20px auto;
   border-bottom: solid rgb(204, 195, 195) 3px;
   }
  .input:hover{
    border-color :  blueviolet;
   }

/* ================================================================== */

#icons {
    display: flex;
    width: 100%;
 
   
}
.icons-1 {
    font-size: 30px;
    margin:  30px 30px;
}

.btn{
padding: 5px 15px;
margin: 20px 20px 20px  32px ;
border: 1px solid rgb(255, 204, 2);
outline: 1px solid yellowgreen;
background-color: var(--secondary-color);
border-radius: 1px  10px;
font-size: 14px;
font-weight: bold;
}
.btn:hover{
    background-color: black;
    color: var(--secondary-color)
}
/* ======================================================= */
@media  only screen and (max-width: 600px){

    #navigation{
        display: flex;
        height: 65px;
     }
    .brand-icon{
        height: 3vh;
        margin: 15px 0 0 5px;
    }
    .Eco{
        font-size:13px;
         margin: 11px 5px;
        }
            .input{
            height: 5px;
            font-size: 9px;
            padding:3px 5px;
            margin: 25px 15px 0 0 ;
            } 

            .icons-1 {
                font-size: 22px;
                margin:19px 6px;
            }
            .btn{   
            font-size: 10px;
            margin:15px 5px ;
            }
}
/* ======================================================================== */