

.navigation{
    position: fixed;
    top: 0%;
    font-family: sans-serif;
    display: flex;
    background-color: white;
    border-radius: 2px;
    border-bottom: solid rgb(204, 195, 195) 1px;
    margin-top: 3rem;
    height: 13vh;
    width: 100%;
}


.brandlogo{
    display: flex;

}

.laptoplogo{
    height: 7vh;
    width:  2.5rem;
    margin-top: 3px;
    margin-left: 2rem;
}


.brand{
color: var(--primary-color);
margin-top: 3px;
font-size: 2rem;
margin-left: 6px;
margin-top: 10px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.brand1{
    color: var(--secondary-color)}

    
.input{
    text-align: center;
   border-radius: 15px;
   height: 4vh;
   width: 100%;
   font-size: 1.5rem;
   border: 1px whitesmoke;
   margin-right: 2rem;
   margin-top: 1rem;
   padding: 5px;
   border-bottom: solid rgb(204, 195, 195) 1px;
   }

   .input:hover{
    border-color:blueviolet;
   }

.link2{
    text-decoration: none;
    color: var(--secondary-color)
}




.btn{
    height: 6vh;
margin-top: 1rem;
background-color: var(--secondary-color);
border: 1px white;
border-radius: 5px;
font-weight: bold;
}

.icons {
    display: flex;
    width: 60%;
    margin-left: 15rem;
    text-align: right;
  
}

.icons1{
    padding: 4px;
    color: var(--primary-color);
    margin-right: 1.4rem;

}

